<div class="container" ng-controller="horariosController">
	{{error}}
	<h1>{{especialidad.espNombre}} - {{odontologo.odoNombres}} {{odontologo.odoApellidos}}</h1>

	<div ng-controller="modalController">
		Horario de Atencion
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Día</th>
					<th>Hora Inicio</th>
					<th>Hora Fin</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="agendaOdontologo in agendaOdontologoList">
					<td>{{agendaOdontologo.ageDiaNombre}}</td>
					<td>{{agendaOdontologo.ageHoraInicio | date:'h:mma'}}</td>
					<td>{{agendaOdontologo.ageHoraFin | date:'h:mma'}}</td>
				</tr>
			</tbody>
		</table>


		Seleccione el Horario en que desea agendar su cita
		
		<h5>Día</h5>
		<div class="form-group">
			<input ng-model="fechaSeleccionada" required type="date" placeholder="Fecha" class="form-control"/>
		</div> <!-- /form-group -->
	
		<h5>Hora</h5>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" ng-click="seleccionarDia()" aria-expanded="true">
				Hora
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">				
				<div ng-repeat="hora in horariosPermitidosDia">
					<li><a ng-click="seleccionarHora(hora)" href=""><h5>{{hora | date:'h:mma'}}</h5></a></li>
				</div>					
			</ul>
			{{horaSeleccionada | date:'h:mma'}}
		</div>
		<br>
		<a ng-click="toggleModal()" class="btn btn-success">Aceptar</a>

		<modal title="Confirmación de la Cita" visible="showModal">
			<form role="form" ng-submit="confirmarCita()">				
				<h4>Especialidad: <small>{{especialidad.espArea}}</small></h4>
				<h4>Doctor(a): <small>{{odontologo.odoNombres}} {{odontologo.odoApellidos}}</small></h4>
				<h4>Tipo Atencion: <small>{{tipoAtencionMedica.tamNombre}}</small></h4>
				<h4>Fecha: <small>{{fechaSeleccionada | date:'dd-MM-yyyy'}}</small></h4>
				<h4>Hora: <small>{{horaSeleccionada | date:'h:mma'}}</small></h4>
				<h4>Duracion: <small>{{tipoAtencionMedica.tamDuracionNem}}</small></h4>
				<p>Se enviará un recordatorio a su correo electronico con los detalles de la cita.</p>	
				<button type="submit" ng-click="toggleModal()" class="btn btn-success">Confirmar</button>
			</form>
		</modal>
	</div>
</div>

