<div ng-controller="horariosController">
	<h1>{{especialidad.espNombre}} - {{odontologo.odoNombres}} {{odontologo.odoApellidos}}</h1>	
	<div ng-controller="modalController">
		Horario de Atencion del Odontologo
		<div ng-repeat="agendaOdontologo in agendaOdontologoList">
			<!-- <button ng-click="toggleModal(); escojerHorario(agendaOdontologo) " class="btn btn-link">{{agendaOdontologo.ageDiaNombre}} {{agendaOdontologo.ageHoraInicio | date:'h:mma'}} - {{agendaOdontologo.ageHoraFin | date:'h:mma'}}</button> -->
			{{agendaOdontologo.ageDiaNombre}} {{agendaOdontologo.ageHoraInicio | date:'h:mma'}} - {{agendaOdontologo.ageHoraFin | date:'h:mma'}}						
		</div>		
		Seleccione el Horario en que desea agendar su cita
		
		<div class="form-group">
			<input ng-model="fechaSeleccionada" required type="date" placeholder="Fecha" class="form-control"/>
		</div> <!-- /form-group -->

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Día
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">				
				<li><a ng-click="seleccionarDia('Lunes')" href=""><h5>Lunes</h5></a></li>
				<li><a ng-click="seleccionarDia('Martes')"  href=""><h5>Martes</h5></a></li>
				<li><a ng-click="seleccionarDia('Miercoles')"  href=""><h5>Miercoles</h5></a></li>
				<li><a ng-click="seleccionarDia('Jueves')"  href=""><h5>Jueves</h5></a></li>
				<li><a ng-click="seleccionarDia('Viernes')"  href=""><h5>Viernes</h5></a></li>
				<li><a ng-click="seleccionarDia('Sabado')"  href=""><h5>Sabado</h5></a></li>
			</ul>
			{{dia}}
		</div>

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Hora
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">				
				<div ng-repeat="hora in horariosPermitidosDia">
					<li><a ng-click="seleccionarHora(hora)" href=""><h5>{{hora | date:'h:mma'}}</h5></a></li>
				</div>					
			</ul>
			{{horaSeleccionada | date:'h:mma'}}
		</div>

		<a ng-click="toggleModal()" class="btn btn-success">Aceptar</a>

		<modal title="Confirmación de la Cita" visible="showModal">
			<form role="form" ng-submit="confirmarCita()">				
				<h4>Especialidad: <small>{{especialidad.espArea}}</small></h4>
				<h4>Doctor(a): <small>{{odontologo.odoNombres}} {{odontologo.odoApellidos}}</small></h4>
				<h4>Tipo Atencion: <small>{{tipoAtencionMedica.tamNombre}}</small></h4>
				<h4>Dia: <small>{{dia}}</small></h4>
				<h4>Hora: <small>{{horaSeleccionada | date:'h:mma'}}</small></h4>
				<h4>Duracion: <small>{{tipoAtencionMedica.tamDuracionNem}}</small></h4>
				<p>Se enviará un recordatorio a su correo electronico con los detalles de la cita.</p>
				<button type="submit" ng-click="toggleModal()" class="btn btn-success">Confirmar</button>
			</form>
		</modal>
	</div>
</div>

