<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
        <!-- Boostrap Css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-responsive.min.css")">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/font-awasome.css")" rel="stylesheet">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
    </head>
    <body ng-app="AdminHome">
        <nav ng-controller="SessionNavBarController" class="navbar navbar-default container-fluid">
            <div class="navbar-header">
                <a href="admin" class="navbar-brand" >Clinica Dental Sonrisitas</a>
            </div>
            <div class="navbar-form navbar-right">
                <div class="dropdown">
                    <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="logout()" class="bg-danger">Salir</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /navbar -->
        <div class="subnavbar">
            <div class="subnavbar-inner">
                <div class="container">
                    <ul class="mainnav">
                        <li class="active dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-list-alt"></i><span>Catalogos</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="odontologo">Odontólogo</a></li>
                            <li><a ui-sref="especialidad">Especialidad</a></li>
                            <li><a ui-sref="tipoAtencionMedica">Tipo Atención Medica</a></li>
                            <li><a ui-sref="agendaOdontologo">Agenda Odontologo</a></li>
                            <li><a ui-sref="odontologoEspecialidad">Odontólogo Especialidad</a></li>
                        </ul>
                    </li>
                    <li><!-- <a href="reports.html"><i class="icon-list-alt"></i><span>Reports</span> </a> --> </li>
                    <!--                     <li><a href="guidely.html"><i class="icon-facetime-video"></i><span>App Tour</span> </a></li>
                    <li><a href="charts.html"><i class="icon-bar-chart"></i><span>Charts</span> </a> </li>
                    <li><a href="shortcodes.html"><i class="icon-code"></i><span>Shortcodes</span> </a> </li>
                    -->
                </ul>
            </div>
            <!-- /container -->
        </div>
        <!-- /subnavbar-inner -->
    </div>
    <!-- /subnavbar -->
    <div ui-view></div>
    
    <!-- Angular JS -->
    <script src="@routes.Assets.versioned("javascripts/lib/angular.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/lib/angular-filter.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/lib/angular-ui-router.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/lib/angular-cookies.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/lib/angular-resource.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/lib/ui-bootstrap-tpls-0.14.3.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/angular/modules/admin.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/controllers/admin/especialidad.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/controllers/admin/agendaOdontologo.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/controllers/admin/odontologo.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/controllers/admin/odontologoEspecialidad.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/controllers/admin/tipoAtencionMedica.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/util/modal.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/services/especialidad.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/services/odontologo.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/services/agendaOdontologo.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/services/tipoAtencionMedica.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/angular/services/odontologoEspecialidad.js")" ></script>
    <!-- <script type="javascript" src="../js/angular/navBarController.js" ></script> -->
    <!-- Jquery JS -->
    <script src="@routes.Assets.versioned("javascripts/lib/jquery.min.js")" ></script>
    <!-- Bootstrap JS -->
    <script src="@routes.Assets.versioned("javascripts/lib/bootstrap.min.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/base.js")"></script>
</body>
</html>