<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sonrisitas</title>
        <!-- Boostrap Css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/toaster.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/signin.css")">
        <link href="@routes.Assets.versioned("stylesheets/font-awasome.css")" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    </head>
    <body ng-app="SonrisitasIndex">
        
        <nav class="navbar navbar-default container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref=".content">Clinica Dental Sonrisitas</a>
            </div>
            <div class="navbar-form navbar-right">
                <a ui-sref=".login"><button class="btn btn-primary">Ingresar</button></a>
                <a ui-sref=".signUp"><button class="btn btn-success">Registrarse</button></a>
            </div>
        </nav>
        <div ui-view></div>
        <!-- Angular JS -->

        <script src="@routes.Assets.versioned("javascripts/lib/angular.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/angular-ui-router.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/angular-cookies.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/angular-resource.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/angular-toastr.tpls.js")" ></script>
        <script src="@routes.Assets.versioned("javascripts/lib/ui-bootstrap-tpls-0.14.3.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/jquery.min.js")" ></script>
        <script src="@routes.Assets.versioned("javascripts/lib/bootstrap.min.js")" ></script>
        <script src="@routes.Assets.versioned("javascripts/base.js")"></script>

        <script src="@routes.Assets.versioned("javascripts/angular/modules/index.js")" ></script>
        <script src="@routes.Assets.versioned("javascripts/angular/controllers/home/signUp.js")" ></script>
        <script src="@routes.Assets.versioned("javascripts/angular/controllers/home/logIn.js")" ></script>
        <script src="@routes.Assets.versioned("javascripts/angular/controllers/home/emailMessage.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular/services/usuario.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular/services/authenticateUser.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular/services/alertService.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular/util/alerts.js")"></script>
        <!-- <script type="javascript" src="../js/angular/navBarController.js" ></script> -->
        <!-- Jquery JS -->
    </body>
</html>