<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sonrisitas</title>
        <!-- Boostrap Css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/signin.css")">
        <link href="@routes.Assets.versioned("stylesheets/font-awasome.css")" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    </head>
    <body>
        
        <nav class="navbar navbar-default container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref=".content">Clinica Dental Sonrisitas</a>
            </div>
        </nav>

        <h1>Error 404 (Page Not Found). Al parecer quieres acceder a un enlace inexistente.<small><a href="/">Página Principal</a></small></h1>
        
        
        <!-- Angular JS -->
        <script src="@routes.Assets.versioned("bower_components/angular/angular.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-ui-router/release/angular-ui-router.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-cookies/angular-cookies.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular/ui-bootstrap-tpls-0.14.3.min.js")"></script>
        <!-- Jquery JS -->
        <script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")" ></script>
        <!-- Bootstrap JS -->
        <script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")" ></script>
    </body>
</html>